				<!-- Footer -->
					<footer id="footer">
            <p class="copyright">Made in <b>San Francisco Bay Area</b> &copy; {{ now.Format "2006"}} </p>
					</footer>

			</div>
		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

      <!-- Quick hack for Contact form-->
      <script>
      $(document).ready(function($) {
          $(function(){
              if (window.location.search == "?sent") {
                $('#contactform').hide();
                $('#contactformsent').show();
              } else {
                $('#contactformsent').hide();
              }
          });
      });
      </script>
	</body>
</html>
